{% extends 'base.html' %}
{% block header %}
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block content %}
    <h2>About The Founder</h2>
    <br>
    <p>Hi, I am Paul Gabel. I am a developer based in the United States. I love all things science (and Breaking Bad) related. I have been a programmer for five years, using Python, Javascript, and C. I aim to use my skills to solve real-world problems.</p>
{% endblock %}